{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
	{% for car in cars %}


	<div class="col-md-4">
        <div class="card my-card">
          <div class="card-body">
            <h5 class="card-title">{{car.make}} - {{car.model}}</h5>
            {% if car.img %}
              <img src="{{ car.img.url }}" alt="">
            {% endif %}
            <p class="card-text">{{car.year}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="{% url 'car-detail' car.id %}" class="btn btn-outline-dark">Details</a>
            </li>
          </ul>
        </div>
    </div>
<!--
		<a href="{{car.get_absolute_url}}">
			<h1>
				{{car.make}} - {{car.model}}
				<small>
					{{car.year}}
				</small>
			</h1>
		</a>
		<hr>
	-->
	{% endfor %}
</div>
{% endblock content %}